
{% extends "user/checkout.html" %}
{% block body %}


<html>
<head>
<title>Interior Register Form Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Interior Register Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/static/weblogin/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/weblogin/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div class="signupform">
<h1>New Registration</h1>
	<div class="container">
		
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h3>Welcome !</h3>
					<h4>Lorem ipsum dolor sit amet, nulla consectetur adipiscing elit Sed.</h4>
					<p> Nam eleifend velit eget dolor vestibulum ornare. Vestibulum est nulla, fermentum eget euismod et, tincidunt at dui. Nulla tellus nisl, semper id justo vel, rutrum finibus risus. Cras vel auctor odio.</p>
					<ul class="social_section_1info">
						<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="w3_pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" class="w3_vimeo"><i class="fa fa-vimeo"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="w3_info">
{#				<h2>Create An Account</h2>#}
{#				<p>Vestibulum est nulla, fermentum eget euismod et, tincidunt at dui dolor sit.</p>#}
						<form action="/myapp/usersignuppost/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
						<div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="Name" value="{{ data.name }}" name="name" required="">
						</div>
						<div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="HouseName"  value="{{ data.house_name }}" name="house_name" required="">
						</div>


							<select name="gender" style="height: 45px;" required>
                                 <option value="">Choose Your Gender</option>
                                <option value="Male" {% if data.gender== "Male" %} checked {% endif %}>Male</option>
                                <option value="FeMale" {% if data.gender=="FeMale" %} checked {% endif %}>FeMale</option>
                            </select>

                            <br>
                            <br>


                            <img src="{{ data.image }}" width="100" height="100">
							<input type="file" placeholder="file" required name="file" required="">
						   <br>
                            <br>


                        <div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="Placename" value="{{ data.place }}" required name="place" required="">
						</div>
                        <div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="City" name="city" value="{{ data.city }}" required="">
						</div>

                         <div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="Pincode" pattern="[0-9]{6}" value="{{ data.pin_code }}" name="pin_code" required="">
						</div>

						<div class="input-group">
							<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<input type="email" required placeholder="Email" value="{{ data.email }}" name="email" required="">
						 </div>

                        <div class="input-group">
							<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<input type="text" placeholder="Phone Number" name="phone_no" value="{{ data.phoneno }}" pattern="[0-9]{10}" required="">
{#						</div>#}
{##}
{#                             <div class="input-group">#}
{#							<span><i class="fa fa-envelope" aria-hidden="true"></i></span>#}
{#							<input type="password" placeholder="Enter Password" name="password" required="">#}
{#						</div>#}
							<button class="btn btn-danger btn-block" type="submit">Create Account</button >
					</form>
			</div>
			<div class="clear"></div>
			</div>
			
		</div>
		<div class="footer">

{# <p>&copy; Interior Register form 2018. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>#}
 </div>
	</div>
	</body>
</html>

{% endblock %}